body, html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background: #2f3542;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.form-box {
    width: 300px;
    padding: 40px;
    background: #191919;
    text-align: center;
    border-radius: 12px;
}

.form-title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
}

.form-box input[type="text"], .form-box button[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3742fa;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.form-box input[type="age"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3742fa;
    padding: 14px 10px;
    width: 100px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}
.form-box input[type="text"]:focus, input[type="age"]:focus {
    width: 280px;
    border-color: #ffffff;
    
}

.form-box label[type="chula"] {
    border: 0;
    background: none;
    border: 2px solid #3742fa;
    padding: 5px 5px;
    width: 100px;
    color: #ffffff;
    border-radius: 24px;
}

.form-box button[type="button"] {
    border: 0;
    background: #5352ed;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3742fa;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.form-box button[type="button"]:hover {
    background: none;
}